{{template "base" .}} <!-- эта инструкция опциональна -->
{{define "title"}}About{{end}}
{{define "body"}}
<style>
    h2 {
        text-align: center;
    }
</style>
<h2 style="text-align: center;">About</h2>
<div>
Да.
— ХӀара дезалхочун, кхоачашдинза даргдоаца декхараш 1отӀаоттадаь, эггар хьалха арахецаргдар «Дезалий кодекс». «Мардаьи, мар-наьнеи сий де, уж лархӀа, царна гӀулакх де, га 
даккха декхарийла я нус. Чурча а, арахьарча а несий гӀулакхашта юкъе гӀерта цун гӀалаташ воӀага а дувцаш, царна юкъе 
цӀур бехка бокъо яц мар-даьи, мар-наьнеи. Несийна ца ловш 
бола кхетам цун берашта а ма лулба цар! Цхьана мел бахача 
хана, мар-даьнеи, мар-наннеи ший дезал хувшача шун т1а 
пхьор-марта увттаде декхарийла я нус. Нагахь санна, нус балхатака яле, шоашта могачох, цӀагӀа хьажа а, берашта доал де а 
декхарийла ба цӀагӀара боккхий нах»... Кхы а дуккха да цига-м.
</div>


{{end}}
